__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
.DS_Store
build/
_build/

# run-time artifacts
logs/
logs*/
/img/
/onnx_models/
*.tfrecord
**/*_cov_mat.npy
**/*_cov_meta.json

# datasets (see README)
/data/
